body{
  background-color: rgb(37, 37, 37);
  padding-top: 70px;
}
.navbar-brand img{
  margin-top: -15px;
  height: 50px;
}
.container .jumbotron{
  background-color: rgb(156, 156, 156);
  color: rgb(41, 41, 41);
  border-radius: 0px;
}
.jumbotron h1{
  color: rgb(33, 33, 33);
  font-weight: bolder;
}
.jumbotron h1 span{
  color: rgb(204, 51, 51);
}
.events{
  padding-top: 50px;
}
.footer{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(224, 224, 224);
}

.footer span{
  color: rgb(204, 51, 51);
}
.ga-info{
  font-size: 8px;
}

/* Github banner as seen on http://terrenceryan.com/blog/index.php/github-ribbons-in-css/ */
#banner{
  position: fixed;
			height: 149px;
			width: 149px;
			overflow:hidden;
			padding: 0;
			margin: 0;
      right: -15px;
      top: 50px;
		}

		#banner a{

			display: block;
			width: 190px;
			font-size: 14px;
			font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
				"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
				Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
			background-color: #333;
			color: #FFF;
			word-spacing: 2px;
			text-decoration: none;
			padding: 5px 15px 5px 25px;

			position:relative;
			left: 20px;
			top: -37px;
			text-align: center;

			-moz-transform-origin: 0 0 ;
			-moz-transform:rotate(45deg);
			-moz-box-shadow:    1px 1px 5px 1px #666;

			-webkit-transform-origin: 0 0 ;
			-webkit-transform:rotate(45deg);
			-webkit-box-shadow: 1px 1px 5px 1px #666;

			-ms-transform-origin: 0 0 ;
			-ms-transform:rotate(45deg);
			-ms-box-shadow: 1px 1px 5px 1px #666;

			transform-origin: 0 0 ;
			transform:rotate(45deg);
			box-shadow: 1px 1px 5px 1px #666;

			background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
			background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
			background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
			background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
			background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.03, #000000),
				color-stop(0.05, #666666),
				color-stop(0.07, #000000),
				color-stop(0.93, #000000),
				color-stop(0.95, #666666),
				color-stop(0.97, #000000)
			);

		}
