body{
  background-color: rgb(37, 37, 37);
}
.header img{
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
.header ul{
  text-align: center;
}
.header ul li{
  display: inline;
  font-size: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.header ul li a:link, .header ul li a:active, .header ul li a:visited {
  color: rgb(224, 224, 224);
}
.header ul li a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.menu{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.youtube-player{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 70vw;
  height: 70vh;
}
.youtube-player iframe{
  border-radius: 15px;
}
.events h1{
  color: rgb(224, 224, 224);
  font-weight: bolder;
}
.events h1 span{
  color: rgb(204, 51, 51);
}
.footer{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(224, 224, 224);
}

.footer span{
  color: rgb(204, 51, 51);
}
